.sendButton {
  display: block;
  font-size: 16pt;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.panel {
	border: 1px solid black;
}

.headerPanel {
	border-bottom: 1px solid black;
}

.navigation {
	border-right: 1px solid black;
}

.footer {
	border-top: 1px solid black;
}

.titleLabel {
	font-size: large;
	color: orange;
}

.selectMeasurePanel {
	width: 400px;
	margin: 10px auto;
}

.selectExtractorPanel {
	width: 400px;
	margin: 10px auto;
}

.contentPanel {
	width: 100%;
}

.selectedLabel {
	background: orange;
}

.highlightLabel {
	background: #FDD017;
}

.measureAnchor {
	color: black;
	text-decoration: none;
}

.listThumbnailsPanel {
}

.thumbnail {
	margin: auto;
}

.dropBoxesPanel {
	border: 1px solid black;
	width: 500px;
	margin: 5px auto;
}

.dropBoxPanel {
	width: 100px;
	height: 100px;
	margin: 10px auto;
	padding: 10px;
	background: orange;
	border: 1px black solid;
	vertical-align: middle;
}

HTML, BODY {
    height: 100%;
}

.box {
	border: 1px dotted green;
}

.currentSelectionsView {
	width: 500px;
	margin: 5px auto;
	border: 1px solid black;
}